
.container-svg-2{
    .card-svg-2{
    transform: rotate(180deg);
    transform: rotateY(180deg);
    svg{
        height: 200px;
    }
}
.svg-2-image{
    width: 600px ;
    height: auto;
    bottom: -55px;
    right: 0;
}
}