.btn-outline-warning{
    background-color:#ffc107 !important ;
    color: #000 !important;
    border: #ffc107 !important;
    border: 2px solid #ffc107 !important;
    font-size: 19px !important;
    &:hover{
        color: #ffc107 !important;
        border:2px solid #ffc107 !important;
        background-color: #000 !important;
    }
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
    background-color: #ffc107 !important;
    border-radius: 50% !important;
    &:focus,
    &:active,
    &:hover{
    border: none !important;
    outline: none !important;
    }
}