.modall-box{
    position: fixed;
    top: -110% ;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background-color:rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem
}