.xtra-additional{
    position: fixed;
    top: 10rem;
    right: 0;
    z-index: 1100;
    .xtra-additional-card{
        display: flex;
        flex-direction: column;

    
       margin: 0;
       .icons-none{
            display: none;
        }
            i{
                color: $navlink-color;
                font-size: 1.5rem;
                padding: .3rem ;
                background-color: $light-color;
    //   border-radius: 4px;
            }
            span{
                display: inline-block;
                color: $dark;
                padding:.4rem .5rem ;
                background-color: $light-color;
                width: 300px;
                display: none;
               
            }
        
        
      
    }
}